<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Settings", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>

<head>宿泊予約サイト</head>

<body>
 <header>
  <h1>Potepan Share</h1>
 </header>
  <div class="FirstView" >
   <section class="container">
    <h2 class="FirstView__title">
      "potepanshareで"<br>
      "最高の旅行体験を"
    </h2>
    <div class="FirstViewSearch">
    <p>ここに検索フォームを配置する<p/>
    </div>
   </section>
  </div>
 <footer>Potepan Share</footer>
</body>

